Label{
	-fx-background-color: skyblue;
	-fx-text-fill: #2e15eb;
	-fx-padding: 5;
	-fx-font-size: 15;
}
Label:hover {
	-fx-background-color: pink;
	-fx-text-fill: #000000;
	-fx-padding: 10;
	-fx-font-size: 13;
}
Label:pressed {
	-fx-background-color: #ffffff;
	-fx-text-fill: #000000;
	-fx-padding: 20;
	-fx-font-size: 20;
	
}